<p>habit-list works!</p>
<a routerLink="/habit-edit" routerLinkActive="active">Add habit</a>

<ng-container *ngIf="habits$ | async as habits; else loadingOrError">
  <table class="habit-list-table">
    <tbody>
      <tr>
        <th>name</th>
      </tr>
      <tr *ngFor="let habit of habits">
        <td>{{habit.name}}</td>
      </tr>
    </tbody>
  </table>
</ng-container>
<ng-template #loadingOrError>
  <p class="text-center text-gray-500 py-8">
    Loading books, or an error occurred...
  </p>
</ng-template>
