<p>execution-list works!</p>

<p>
  <input type="button" value="<<" />
  <input type="date" [(ngModel)]="date" (ngModelChange)="loadData()" />
  <input type="button" value=">>" /></p>
<p>date:{{date}}</p>
@if (executionView && executionView.length>0) { @for (item of executionView;
track item.id){
<p>
  Name: {{item.name}} Status: {{item.executionStatus}}
  HabitId: {{item.id}}, ExecutionId: {{item.executionId}}
  <input type="checkbox" id="'habit-{{+item.id}}" [(ngModel)]="item.status" />
  <input type="button" value="Complete" (click)="onComplete(item.id)" />
  <input type="button" value="Skip" (click)="onSkip(item.id)" />
  <input type="button" value="Reset" (click)="onReset(item.id)" />
  <input type="button" value="Failed" (click)="onFailed(item.id)" />
</p>
}
<p>executions returned</p>
} @else {
<p>no executions returned</p>
}

<p>
  <input type="checkbox" [(ngModel)]="isNgModelChecked" /><span>ngModel</span>
  Model binding: {{isNgModelChecked ? 'checked' : 'not checked'}}
</p>
