<p>execution-list works!</p>
@if (executionView && executionView.length>0) { @for (item of executionView;
track item.id){
<p>
  Name: {{item.name}} Status: {{item.status}}
  HabitId: {{item.id}}, ExecutionId: {{item.executionId}}
  <input type="checkbox" id="'habit-{{+item.id}}" [(ngModel)]="item.status" />
  <input type="button" value="Complete" (click)="onComplete(item.id)" />
  <input type="button" value="Skip" />
  <input type="button" value="Reset" />
  <input type="button" value="Failed" />
</p>
}
<p>executions returned</p>
} @else {
<p>no executions returned</p>
}

<p>
  <input type="checkbox" [(ngModel)]="isNgModelChecked" /><span>ngModel</span>
  Model binding: {{isNgModelChecked ? 'checked' : 'not checked'}}
</p>
